
%button {
	background:$aqua;
	border-radius:50%;
	// clear:both;
	display:inline-block;
	margin: auto;
	text-align:center;

}

.next {
	width:100%;
	display:block;
	text-align:center;
	padding:1em 0;
	 }

.scroll-down {
	@extend %button;
	@extend .i-down;
	font-size:em(28);
	@include hover1;
	}
