.info-box {
	width:100%; height:80%;
	max-width:em(630,10);
	min-height:em(500);
	border:em(10) solid white;
	// background-color:$darkblue;
	background-color:transparentize($darkblue, .25);
	// position:absolute;
	top:0; bottom:0; left:0; right:0;
	margin:auto;
	padding:em(50);
	text-align:center;
	@include opacity(.75);
	img {
		margin:auto;
	}
	hr {
		border-bottom:none; border-top:1px solid $aqua;
		margin:em(30) auto;
		width:100%;
		 }
	p {
		text-align:left;
		font-size:em(9);
		line-height:2;
		}
}
